.favorites {
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}



.favorites-empty {
  text-align: center;
  padding: 4rem 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  margin: 2rem auto;
  max-width: 600px;
}

.favorites-empty h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #FF7A00;
  ;
}

 .favorites-empty p {
  color: #999;
  font-size: 1.2rem;
  line-height: 1.6;
}