.recepie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 500px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px;
  background-color: #FF7A00;
  color: #FFFFFF;
  flex: 0 0 auto; /* prevents flex shrinking — keeps width consistent */
}

.recepie-card:hover {
  transform: scale(1.05);
}

.recepie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recepie-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 220px;
  margin-top: 40px;
   border-radius: 50%;
     border: none;
  color: #FF7A00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.recepie-card:hover .recepie-overlay {
  opacity: 1;
}
.recepie-overlay button {
  padding: 0.5rem 1rem;
  background:none;
  border: none;
  color: #FFFFFF;
    font-size: 30px; 
  cursor: pointer;
   border-radius: 50%;
}

.recepie-overlay button.active {
  color: #ff4757;
}

.recepie-info {
  padding: 1rem;
}
.recepie-info h2 {
  margin: 0 0 0.5rem 0;
}
.recepie-info p {
  margin: 0 0 1rem 0;
}
.recepie-info button{
  background-color: #FFFFFF;
  color: #FF7A00;
  border: none;
}
.ingredients {
  margin-top: 5px;
background-color: #FFFFFF;
color: black;
height: 100%;
border: 0;
border-radius: 5px;
padding-bottom: 50px;
}
.ingredients h3, p, ul, li{
  margin-left: 10px;
  margin-top: 10px;
 
  text-decoration: none;
  /* font-size: 20px; */
}
